export(distance.matrix)
export(get.variables)
export(get.datasets)
export(get.analyses)
export(start.server)
export(stop.server)
export(new.dataset)
export(new.network)
export(as.igraph)
export(plot.ecospace)
export(get.status)
